/* ========= Mian Google fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* ========= Re-usable style component ==========*/
.container{
    width: 1440px;
    margin: 0 auto;
}
.primary-pera{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.primary-btn{
    background-color: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}
/* ========= Start Header Section ==========*/
header{
    background: rgba(255, 144, 14, 0.1);
}
header nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 30px 0;
}
header nav .brand-logo a{
    text-decoration: none;
    font-size: 45px;
    color: #131313;
    font-weight: 700;
    line-height: 53px;
}
header nav .nav-item{
    text-align: right;
}
header nav .nav-item ul li{
    list-style-type: none;
    display: inline-block;
}
header nav .nav-item ul li a {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: #424242;
	line-height: 26px;
	padding: 8px 30px;
}
/* ========= Start Header Text Content ==========*/
.header-content-part{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 70px;
}
.text-content{
    text-align: center;
}
.text-content h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    width: 90%;
}
.text-content .header-des{
    padding-bottom: 30px;
}
.header-image-part{
    padding-bottom: 30px;
}
.header-image-part img{
    width: 100%;
}
/* ========= Start Features Section ==========*/
#features{
    padding: 100px 0;
}
.features-content {
	display: flex;
	align-items: center;
	gap: 100px;
    padding: 0 50px;
}
.features-content .features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-content .features-img img{
    width: 342px;
    height: 342px;
}
.features-text-area h2{
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 20px;
}
.features-text-area h2 .gray-light{
    color: #727272;
    font-weight: 500;
}
.features-text-area h2 .bold{
    color:  #131313;
    font-weight: 700;
}
.features-text-area h2 .colored{
    color: #FF900E;
    font-weight: 700;
}
.features-text-area p{
    padding-bottom: 30px;
}
/* ========= Start Ten-year Section ==========*/
#ten-year{
    margin-bottom: 50px;
}
.ten-year-content{
    display: flex;
    gap: 146px;
    position: relative;
}
.ten-year-text-part{
    padding-top: 30px;
}
.ten-year-text-part .ten-year-heading{
    position: relative;
    padding-left: 30px;
}
.ten-year-text-part .ten-year-heading::before{
    content: "";
    width: 5px;
    height: 106px;
    background: #FF900E;
    position: absolute;
    left: 0;
}
.ten-year-text-part .ten-year-heading h3 {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
	color: #131313;
	margin: 0 0 30px 0;
}
.ten-year-boxes .ten-year-box{
    padding: 30px 42px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.ten-year-boxes .ten-year-box .box-title{
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.ten-year-boxes .ten-year-box .box-description{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.ten-year-exp {
	position: absolute;
	background-color: #FF900E;
	border-radius: 8px;
	padding: 46px 42px;
	bottom: 0;
	right: 32%;
}
.ten-year-exp span{
    display: block;
}
.ten-year-exp span.one{
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}
.ten-year-exp span.two{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
